* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  background-color: black;
}

.square {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  color: white;
  font-size: 100pt;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 350px;
}

.status {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.game {
  display: flex;
  color: white;
}

.game-info li {
  margin-bottom: 5px;
}